<template name="home">
  <div class="jumbotron">
    <div class="container">
      <h1>Meteor Admin Site</h1>
      <p>A Meteor admin tool loosely inspired by the Django admin site</p>
      <p><a class="btn btn-primary btn-lg" href="https://github.com/nodeminderjs/meteor-admin-site" role="button">Learn more</a></p>
    </div>
  </div>
  <div class="container">
    <p>
    <a href="https://www.discovermeteor.com/">
      <img src="discover_meteor.jpg" width="345" height="125" class="img-rounded">
    </a>
    </p>
    <p>
      This app was initially based on the
      <a href="https://www.discovermeteor.com/">Discover Meteor Book</a> Microscope application.
    </p>
  </div>
</template>
