<template name="header">
  <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}">Admin Site Test Application</a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="{{pathFor 'adminMain'}}">Admin</a>
          </li>
          {{ loginButtons }}
        </ul>
      </div>
    </div>
  </nav>
</template>
