body {
  background-color: #f4f4f4;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-size: 58px;
}

.myspinner {
  margin-top: 50px;
}

#nav-admin-link {
  color: #e33;
  font-weight: bold;
}

#nav-admin-link:hover {
  color: #f44;
}